<!DOCTYPE html>
<html xmlns="http://w3.org/1999/xthml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://w3.org/1999/xthml"
    xmlns:sec="http://w3.org/1999/xthml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Proyecto Error 404</title>
    <link rel="icon" href="/src/main/resources/static/Image/error-4041.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet" />

</head>

<body>
    <main>
        <div class="px-3 py-4 my-5 text-center item">
            <div class="d-flex justify-content-lg-end mb-4 px-3">
                <a class="button-85 btn-sm" type="button" href="/">Pagina Principal</a>
            </div>
            <div class="table">
                <h1 class="display-6 fw-bold mb-4">Empresas</h1>

                <table class="table table-striped table-dark table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Documento</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Fecha de creación</th>
                            <th scope="col">Fecha de actualización</th>
                            <th scope="col">Acciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="empresas, movimiento : ${listaEmpresa}">
                            <td scope="row" th:text="${empresas.id}">Id</td>
                            <td scope="row" th:text="${empresas.name}">Nombre</td>
                            <td scope="row" th:text="${empresas.document}">Documento</td>
                            <td scope="row" th:text="${empresas.phone}">Telefono</td>
                            <td scope="row" th:text="${empresas.address}">Dirección</td>
                            <td scope="row" th:text="${empresas.createAt}">Fecha de creación</td>
                            <td scope="row" th:text="${empresas.updateAt}">Fecha de actualización</td>

                            <td>
                                <div>
                                    <a th:href="@{/entidad/editar/{id}(id=${empresas.id})}" class="btn btn-info"
                                        type="button">Editar</a>
                                    <a th:href="@{/entidad/{id}(id=${empresas.id})}" class="btn btn-danger"
                                        type="button">Eliminar</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <a class="button-85" type="button" href="/entidad/agregar">Agregar Empresa</a>
                <a class="button-85" type="button" href="/movimientos">Ver Movimientos</a>
            </div>
        </div>

       
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>