<!doctype html>
<html xmlns="http://w3.org/1999/xthml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:layout="http://w3.org/1999/xthml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Proyecto Error 404</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet" />
</head>

<body>
    <main>
        <div class="px-4 py-5 my-5 text-center">
            <img src="Image/error-404.png" class="d-block mx-auto mb-4" height="150px" alt="Proyecto" />
            <div class="col-lg-6 mx-auto">
                <h1 class="display-5 fw-bold">Proyecto Error 404</h1>
                <p class="lead mb-4">Acá se coloca una descripción del proyecto</p>
                <div sec:authorize="!isAuthenticated()">
                    <a th:href="@{/oauth2/authorization/auth0}" class="button-85">Ingreso</a>
                </div>
                <br />
                <div sec:authorize="isAuthenticated()">
                    <h1 th:text="'Bienvenido, ' + ${usuario.getName()}"></h1>
                    <br />
                    <a href= "/entidad" class="button-85" type="button">Ver Empresas</a>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>